body {
    background-color: #FAEBD7;
    font-family: 'Lato', sans-serif;
    position: relative;
}

main {
    
}

.content {
    padding-top: 75px;
    padding-bottom: 75px;
    min-height: 100vh;
}

.heading {
    font-family: 'Playfair Display', serif;
}

.slogan {
    font-family: 'Pacifico', cursive;
    text-align: center;
    margin: auto;
}

.recipe-card {
    box-shadow: 1px 3px 8px rgba(0,0,0,0.2);
    transition: transform 0.5s;
}

.recipe-card:hover {
    transform: scale(1.03);
}

.change-photo-button {
    display: none;
}

.recipe-image:hover .change-photo-button {
    display: inline;
}

.save-photo-button {
    display: none;
}

.recipe-image:hover .save-photo-button {
    display: inline;
}

.star {
    color: #FFD700;
}

.pointer-cursor {
    cursor: pointer;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding-top: 10px;
}
